<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>log in</h1>
    <form action="/login" method="post">
        <label for="mail">Email:</label>
        <input type="email" id="mail" name="mail">
        <label for="pass">pass word</label>
        <input type="password" id="pass" name="pass">
        <input type="submit" value="click">
    </form>
</body>
</html>